# Programming Assignment 4
## Hunter Waldridge
## Bellarmine University
### CS-150

## a. Functions for lists

#### Below is the example list that will be used for most functions described in this section.

In [8]:
import random
example_list=[random.randrange(1,201) for i in range(10)]
example_list

[106, 103, 55, 149, 16, 4, 42, 199, 60, 54]

1. append() - this adds a SINGLE element to the end of the list

In [9]:
example_list.append(197)
example_list

[106, 103, 55, 149, 16, 4, 42, 199, 60, 54, 197]

2. extend() - this is used to add MULTIPLE elements to the list

In [12]:
example_list.extend([60,2,3])
example_list

[106, 103, 55, 149, 16, 4, 42, 199, 60, 54, 197, 60, 2, 3]

3. insert() - inserts an element into the list at specified index location

In [14]:
example_list.insert(0,22)
example_list

[22, 106, 103, 55, 149, 16, 4, 42, 199, 60, 54, 197, 60, 2, 3]

4. remove() - removes first occurence of specified value from list

In [16]:
example_list.remove(60)
example_list

[22, 106, 103, 55, 149, 16, 4, 42, 199, 54, 197, 60, 2, 3]

5. count() - counts how many occurences of a certain value there is in the list

In [21]:
# For this example I will use extend function to add multiple elements
# of the same value to show how count function works

# Example of count function in next cell.

example_list.extend([42,42,42])
example_list

[22, 106, 103, 55, 149, 16, 4, 42, 199, 54, 197, 60, 2, 3, 42, 42, 42]

In [19]:
example_list.count(42)

4

6. index() - returns index location of value in the list

In [23]:
print(example_list)
example_list.index(4)

[22, 106, 103, 55, 149, 16, 4, 42, 199, 54, 197, 60, 2, 3, 42, 42, 42]

6

7. pop() - removes element from list at specified index location then returns it

In [26]:
example_list.pop(14)
example_list

[22, 106, 103, 55, 149, 16, 4, 42, 199, 54, 197, 60, 2, 3, 42, 42]

8. sorted() - sorts existing list and stores it in a new list

In [28]:
sorted_list = sorted(example_list)
sorted_list

[2, 3, 4, 16, 22, 42, 42, 42, 54, 55, 60, 103, 106, 149, 197, 199]

9. copy() - returns copy of existing list so changes can be made without altering original list.

In [30]:
copied_list = example_list.copy()
copied_list

[22, 106, 103, 55, 149, 16, 4, 42, 199, 54, 197, 60, 2, 3, 42, 42]

10. clear() - removes all elements from the list

In [31]:
# I will clear copied_list so I can keep the example_list intact.

copied_list.clear()
copied_list

[]

11. any() - returns True if any item in its iterable argument is True

In [32]:
items = [True, False, False, True, False]
any(items)

True

12. filter() - returns an iterator with the values in function(item) that returned as True. If function is None, returns items that are true.

In [39]:
def check_even(example_list): # Function to check for even numbers in example_list
    if example_list%2==0:
        return True
    else:
        return False

even_numbers_filter = filter(check_even, example_list) # Filters to check for values returned as True
even_numbers_list = list(even_numbers_filter) # Takes filtered result and puts it into a new list (even_numbers_list)

print(example_list)
print(even_numbers_list)

[22, 106, 103, 55, 149, 16, 4, 42, 199, 54, 197, 60, 2, 3, 42, 42]
[22, 106, 16, 4, 42, 54, 60, 2, 42, 42]

13. list() - creates a list from an iterable.

In [43]:
text = 'Hunter Waldridge'
text_list = list(text)
print(text_list, end = ' ')

['H', 'u', 'n', 't', 'e', 'r', ' ', 'W', 'a', 'l', 'd', 'r', 'i', 'd', 'g', 'e']

14. map() - applies a given function to each item of an iterable and returns an iterator.

In [45]:
def square(number):
    return number * number

squared_numbers = map(square, example_list)
squared_numbers_list = list(squared_numbers)

print(example_list)
print(squared_numbers_list)

[22, 106, 103, 55, 149, 16, 4, 42, 199, 54, 197, 60, 2, 3, 42, 42]
[484, 11236, 10609, 3025, 22201, 256, 16, 1764, 39601, 2916, 38809, 3600, 4, 9, 1764, 1764]

## b. Functions for tuples

1. cmp() - compares elements of two tuples

In [53]:
# This function was removed from Python 3, however I can define a new function to show how it would work.

def cmp(a,b):
    return (a>b)-(a<b)

tuple1 = (1,2,3)
tuple2=(4,5,6)

print(cmp(tuple1,tuple2))

# Result shows tuple1<tuple2 (0-1=-1)

tuple3=(4,5,6)
tuple4=(1,2,3)

print(cmp(tuple3,tuple4))

# Result shows tuple3>tuple4 (1-0=1)

-1
1

2. len() - returns the number of items in a container

In [55]:
example_tuple = (1,4,39,192,392,283,27,2,28)
len(example_tuple)

9

3. max() - returns biggest item in tuple

In [58]:
print(example_tuple)
max(example_tuple)

(1, 4, 39, 192, 392, 283, 27, 2, 28)

392

4. tuple(seq) - used to convert a sequence of items into a tuple

In [64]:
numbers = [1,2,3,4,5]
tuple(numbers)

(1, 2, 3, 4, 5)

#### Bonus Practice:

In [17]:
def rotate(Tuple):
    (a,b,c)=Tuple # Expects 3 values to unpack
    return tuple(reversed(Tuple)) # Reverses tuple
rotate_example = (43,21,89)
rotate(rotate_example)

(89, 21, 43)

In [43]:
def encode(List):
    for x in range(len(List)):
        if List[x]%2==0:
            List[x]=1
        else:
            List[x]=-1
    return List

import random

L=[random.randrange(1,101) for x in range (15)]
print("List before function:", L)
print("List after function:", encode(L))

List before function: [15, 60, 81, 96, 78, 24, 8, 13, 20, 13, 46, 22, 74, 17, 93]
List after function: [-1, 1, -1, 1, 1, 1, 1, -1, 1, -1, 1, 1, 1, -1, -1]